MONGODB_URI=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
TWILIO_VERIFY_SERVICE_SID=
GOOGLE_VISION_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS_JSON=
GOOGLE_VISION_PROJECT_ID=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXTAUTH_SECRET=
SESSION_SECRET=
NEXT_PUBLIC_APP_URL=https://safetag.vercel.app
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
